@{
    ViewData["Title"] = "Home";
}

<div class="pt-12">
    <form class="bg-neutral-800 opacity-75 shadow-lg rounded-md px-8 pt-6 pb-8 mb-4" method="get" asp-action="ServerInfo">
        <h1 class="text-3xl md:text-5xl text-stone-100 font-bold leading-tight text-center mb-2">Query your favorite server:</h1>
        <label class="block text-center text-stone-200 py-2 font-bold mb-2" for="address">Enter server address:</label>

        <div class="relative text-gray-500 inline-flex w-full">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M5.507 4.048A3 3 0 017.785 3h8.43a3 3 0 012.278 1.048l1.722 2.008A4.533 4.533 0 0019.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008z"/>
                    <path fill-rule="evenodd" d="M1.5 10.5a3 3 0 013-3h15a3 3 0 110 6h-15a3 3 0 01-3-3zm15 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm2.25.75a.75.75 0 100-1.5.75.75 0 000 1.5zM4.5 15a3 3 0 100 6h15a3 3 0 100-6h-15zm11.25 3.75a.75.75 0 100-1.5.75.75 0 000 1.5zM19.5 18a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" clip-rule="evenodd"/>
                </svg>
            </div>
            <input type="text" name="address" id="address" placeholder="Enter server address" class="w-full cursor-text rounded-md rounded-r-none border-2 py-2 pr-2 pl-10 text-base outline-none focus:border-transparent focus:ring"/>
            <button type="submit" class="rounded-l-none rounded-md p-2 bg-blue-700 text-nowrap text-stone-200">Query</button>
        </div>
    </form>
</div>

@section Headers {
    <meta property="og:title" content="Rust server status"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Check your favorite rust server status!"/>
}